.code-block {
  padding: var(--spacing);
  display: inline-block;
  text-align: right;
}

.code-block > .code-block__children {
  display: flex;
  flex-direction: column;
  margin-right: calc(-1 * var(--spacing));
}

.code-block > .code-block__title {
  width: 100%;
  text-align: left;
}

.code-block.code-block--highlighted {
  border: 7px purple solid;
}

.code-block > .code-block__title > .code-block__highlight {
  margin-left: 1rem;
  margin-right: 1rem;

  border-radius: 1rem;

  padding: 0.3rem;
  background: cyan;
}

.code-block > .code-block__children > .code-block:first-child {
  margin-top: var(--spacing);
}

.code-block.code-block--yellow {
  background: yellow;
}

.code-block.code-block--red {
  background: red;
}

.code-block.code-block--blue {
  background: blue;
}
