@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-family: "Roboto Mono", monospace;

    overflow: hidden;
}

#app {
    height: 100%;
    font-size: 1.5em;
}

:root {
    --spacing: 1rem;
    --primary: #004346;
    --secondary: #75dddd;
    --tertiary: #172a3a;
}
