.levelSelector {
    width: 75px;
    height: 75px;
    border-radius: 5px;
    display: inline-flex;
    margin: 10px;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    transition: 250ms;
}

.levelSelector:hover {
    background: var(--secondary);
    transition: 250ms;
}
