.level {
  height: 100%;
  display: flex;
}

.level > .level__right,
.level > .level__left > .level__left-script-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.level > .level__left > .level__title {
  color: white;
  margin-top: 2rem;
}

.level > .level__left > .level__left-script-container {
  margin: 0 20px 0 0;
  height: 75%;
}

.level > .level__right {
  position: relative;
  width: 100%;
  background: var(--secondary);
}

.level > .level__left {
  padding: 15px;
  padding-top: 40px;
  box-sizing: border-box;
  background: var(--primary);
}

.level > .level__right > .level__prompt {
  position: absolute;
  top: 0;
  left: 0;
  width: 80vw;
  height: 33%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.level > .level__right > .level__prompt > .level__prompt-text {
  font-size: 3rem;
}
