.level {
  height: 100%;
  display: flex;
}

.level > .level__right,
.level > .level__left > .level__left-script-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.level > .level__left > .level__title {
  color: white;
  margin-top: 2rem;
}

.level > .level__left > .level__left-script-container {
  margin: 0 50px 0 0;
}

.level > .level__right {
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: var(--secondary);
}

.level > .level__right > canvas {
  max-height: 100vh;
  max-width: 100%;
  display: inline;
}

.level > .level__left {
  padding: 20px;
  padding-top: 40px;
  box-sizing: border-box;
  background: var(--primary);
  display: inline-block;
}

.level > .level__right > .level__prompt {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 33%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.level > .level__right > .level__prompt > .level__prompt-text {
  font-size: 3rem;
}

.playAnimationButtonContainer {
  position: absolute;
  bottom: 6%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 5px;

  padding: 20px;

  background: var(--primary);

  width: 500px;
  height: 30px;

  transition: 250ms;
}

.playAnimationButtonContainer:hover {
  cursor: pointer;
  background: var(--tertiary);
  transition: 250ms;
}

.playbackSpeedInput {
  margin: 20px;
  position: absolute;
  right: 20px;
}

.playAnimationButton {
  position: absolute;
  left: 20px;
  padding: 15px;
  border-radius: 5px;
  color: white;
  flex-wrap: nowrap;
}
